set es_enableCustomData 1

# Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

set mysql_connection_string "server=localhost;uid=root;password=;database=essentialmode"

#sv_master1 ""
sv_hostname "PanRP"
sets tags "esx, policia, españa, españita, esp, spanish, youtubers, twitch streamers, famoseo, quiero likes"
sets locale "es-ES"
#load_server_icon myLogo.png
#sets banner_detail "https://url.to/image.png"
#sets banner_connecting "https://url.to/image.png"
sv_scriptHookAllowed 0

sv_endpointprivacy true
sv_maxclients 32
set steam_webApiKey "01312BAAA356312495743F9CCD506610"
sv_licenseKey d3gn6le0yius8t1m3o2nz6avwdjivjoh

# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.fivem:1 group.admin # add the admin to the group
add_ace resource.essentialmode command.sets allow
add_ace resource.essentialmode command.add_principal allow
add_ace resource.essentialmode command.add_ace allow

# Default FXServer
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure fivem
ensure hardcap
ensure rconlog
ensure scoreboard

start fxmigrant

#Mysql
start mysql-async
start essentialmode
start esplugin_mysql
start async

#ES BASE
start es_extended

start es_admin2

start esx_menu_default
start esx_menu_dialog
start esx_menu_list

#ESX DEFAULT
start cron
start esx_billing
start esx_addonaccount
start esx_addoninventory
start esx_society
start esx_datastore
start skinchanger
start esx_skin
start esx_identity
start esx_license

#ESX JOBS
start esx_joblisting
start esx_policejob
start esx_ambulancejob

#ESX "OFICIAL"
start esx_vehicleshop